@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(129, 129, 129);
  color: #394446;
}

main {
  flex-grow: 1;
  font-family: "Press Start 2P", cursive;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/035/884/155/large/gregory-ligman-brick-02.jpg?1616152868&dl=1");
  background-size: 50%;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}
